body{
    
    
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

.top-banner image{
    display: flax;

}
.High-Note{
    font-size: 50px;
    color:antiquewhite;
    text-align: center;
    padding-top: 100px;
   
    
}
.short-note{
    font-size: 20px;
    color: aqua;
    
    padding-left: 30%;
    padding-right: 30%;
    text-align:justify;
}
.cover{
    background-image: url(images/donation7.jpg);
    width: 100%;
    height: 100%;
    margin: 0%;
    padding-bottom: 170px;
    
}

.link-button{
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(orange,red );
    padding: 10px 10px;
    color: aqua;
    font-weight: 700;
    border-radius: 10px;
    margin: 0% auto;
    
 }
 .top-banner{text-align: center;}
 .High-2Note{
    color: black;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
   
 }
 .short-2note{
    color: black;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    text-align:justify;
    
 }

 .box-taka{
    background-color: rgb(88, 182, 92);
    margin: 1px;
    border: 2px red;
    padding: 20px;
 }
.gape{
    padding: 20px;


}
.duinumber{

   padding-top: 60px;
}
.ditiyopage{
    text-align: center;



}
.scondbutton{
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
    
}

.lowfont{
    font-weight: 10;
    border-bottom: solid 1px;
    
}
.activity{
    display: flex;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10px;
}

.flexiblepart{
    box-shadow: 30px 10px 80px red;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 10px;
    padding-top: 3%;

}

.thirdpart{
padding-top: 10%;
padding-bottom: 10%;

}

.bonusNote{
 text-align: justify;
 

   
}
.bonus2 img{
    width: 100%;
    height: 100%;
    
    
}

 
.bonus1{

    padding-left: 10%;
    padding-right: 10%;
    
   
}
.bonus{
    display: flex;
    padding-right: 15%;
    padding-bottom: 10%;
   
}

footer{
   text-align: center;
    background-color: black;
    color: aquamarine;
    padding-top: 3%;
    padding-bottom: 3%;
}

.number1{
    text-align: center;
    color: cadetblue;
    margin-left: 2%;
    margin-right: 2%;
    border: rgb(114, 66, 66) solid;
    padding-bottom: 10px;
    padding-top: 2%;
    box-shadow: 10px 10px 60px rgb(8, 129, 113) inset;
    border-radius: 10%;


}
.number{
    text-align: center;
    color: cadetblue;
    margin-left: 1%;
    margin-right: 1%;
    padding-bottom: 10px;
    padding-top: 2%;
    box-shadow: 10px 10px 20px rgb(118, 145, 137) inset;
    border-radius: 10%;
    border: rgb(247, 235, 247) solid;


}
.taka{
    
    padding-left: 25%;
    display: flex;
}
.update{

    text-align: center;
   
    padding-bottom: 10%;
}
.link-button1{
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(rgb(94, 15, 15),rgb(39, 6, 6) );
    padding: 10px 10px;
    color: whitesmoke;
    font-weight: 700;
    
    margin: 0% auto;
    
 }
 .link-button2{
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    font-weight: 700;
    margin: 0% auto;
    
 }